<div class="container-fluid">
	<div class="col">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Grupos Admin</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of grupos">
					<td style="cursor: pointer;">
						<a class="figure-caption" [routerLink] ="['/grupodeinteres', { outlets: { 'detail': [i.id] } }]" > grupodeinteres: {{i.GrupoAdmin}}</a>
                                    <td>id: {{i.id}}</td>
					

				</tr>
			</tbody>
		</table>
	</div>

</div>
