    
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Create a group</h2>
        <br>
        <form name="grupo" (ngSubmit)="f.form.valid && createGrupoDeINteres()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="GrupoAdmin"><b>Name</b></label>
                <input type="text" name="GrupoAdmin" class="form-control" id="GrupoID" [(ngModel)]="GrupoDeInteres.Admin"
                    #GrupoAdmin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && editorialName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The editorial's name is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>